## Day 4 Machine Learning | iScale

In [1]:
import pandas as pd
import requests

### API KEY Paste

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=5bc643f664c8c66e7edce11b77c7214e&langage=en-US&page=1')

### 6 Col Select code

In [3]:
df = pd.DataFrame(response.json()['results'])[['id','title','release_date','overview','popularity','vote_average']]

### DF Show

In [5]:
df.head()

,id,title,release_date,overview,popularity,vote_average
0,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",146.546,8.709
1,278,The Shawshank Redemption,1994-09-23,Framed in the 1940s for the double murder of h...,127.603,8.705
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,77.946,8.590
3,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,86.658,8.571
4,19404,Dilwale Dulhania Le Jayenge,1995-10-20,"Raj is a rich, carefree, happy-go-lucky second...",50.500,8.546

### Get a data from page 5

In [6]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=5bc643f664c8c66e7edce11b77c7214e&langage=en-US&page=5')

In [7]:
df1 = pd.DataFrame(response.json()['results'])[['id','title','release_date','overview','popularity','vote_average']]

In [8]:
df1

,id,title,release_date,overview,popularity,vote_average
0,16672,Woman in the Dunes,1964-02-15,An entomologist suffers extreme psychological ...,22.474,8.274
1,670,Oldboy,2003-11-21,"With no clue how he came to be imprisoned, dru...",54.408,8.300
2,42269,We All Loved Each Other So Much,1974-12-21,Three partisans bound by a strong friendship r...,12.403,8.265
3,10376,The Legend of 1900,1998-10-28,The story of a virtuoso piano player who lives...,23.066,8.265
4,20334,The Shop Around the Corner,1940-01-12,Two employees at a gift shop can barely stand ...,19.810,8.264
5,1585,It's a Wonderful Life,1946-12-20,A holiday favourite for generations... George...,52.639,8.264
6,315162,Puss in Boots: The Last Wish,2022-12-07,Puss in Boots discovers that his passion for a...,258.974,8.263
7,299534,Avengers: Endgame,2019-04-24,After the devastating events of Avengers: Infi...,171.100,8.261
8,635302,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,2020-10-16,"Tanjiro Kamado, joined with Inosuke Hashibira,...",93.825,8.257
9,618344,Justice League Dark: Apokolips War,2020-05-05,Earth is decimated after intergalactic tyrant ...,30.353,8.300
10,8587,The Lion King,1994-06-24,A young lion prince is cast out of his pride b...,112.646,8.256
11,1026227,There’s Still Tomorrow,2023-10-26,Delia is a typical housewife in post-war Italy...,15.630,8.252
12,299536,Avengers: Infinity War,2018-04-25,As the Avengers and their allies have continue...,255.971,8.252
13,361743,Top Gun: Maverick,2022-05-24,After more than thirty years of service as one...,166.031,8.248
14,265177,Mommy,2014-09-19,A peculiar neighbor offers hope to a recent wi...,22.680,8.246
15,508965,Klaus,2019-11-08,When Jesper distinguishes himself as the Posta...,45.654,8.245
16,504253,I Want to Eat Your Pancreas,2018-09-01,After his classmate and crush is diagnosed wit...,38.057,8.245
17,851644,20th Century Girl,2022-10-06,Yeon-du asks her best friend Bora to collect a...,93.524,8.244
18,626332,Flamin' Hot,2023-03-11,"The inspiring true story of Richard Montañez, ...",70.358,8.244
19,490132,Green Book,2018-11-16,"Tony Lip, a bouncer in 1962, is hired to drive...",78.481,8.244

In [10]:
df1.shape

(20, 6)

In [11]:
df1.to_csv('movies.csv')

In [12]:
df1

,id,title,release_date,overview,popularity,vote_average
0,16672,Woman in the Dunes,1964-02-15,An entomologist suffers extreme psychological ...,22.474,8.274
1,670,Oldboy,2003-11-21,"With no clue how he came to be imprisoned, dru...",54.408,8.300
2,42269,We All Loved Each Other So Much,1974-12-21,Three partisans bound by a strong friendship r...,12.403,8.265
3,10376,The Legend of 1900,1998-10-28,The story of a virtuoso piano player who lives...,23.066,8.265
4,20334,The Shop Around the Corner,1940-01-12,Two employees at a gift shop can barely stand ...,19.810,8.264
5,1585,It's a Wonderful Life,1946-12-20,A holiday favourite for generations... George...,52.639,8.264
6,315162,Puss in Boots: The Last Wish,2022-12-07,Puss in Boots discovers that his passion for a...,258.974,8.263
7,299534,Avengers: Endgame,2019-04-24,After the devastating events of Avengers: Infi...,171.100,8.261
8,635302,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,2020-10-16,"Tanjiro Kamado, joined with Inosuke Hashibira,...",93.825,8.257
9,618344,Justice League Dark: Apokolips War,2020-05-05,Earth is decimated after intergalactic tyrant ...,30.353,8.300
10,8587,The Lion King,1994-06-24,A young lion prince is cast out of his pride b...,112.646,8.256
11,1026227,There’s Still Tomorrow,2023-10-26,Delia is a typical housewife in post-war Italy...,15.630,8.252
12,299536,Avengers: Infinity War,2018-04-25,As the Avengers and their allies have continue...,255.971,8.252
13,361743,Top Gun: Maverick,2022-05-24,After more than thirty years of service as one...,166.031,8.248
14,265177,Mommy,2014-09-19,A peculiar neighbor offers hope to a recent wi...,22.680,8.246
15,508965,Klaus,2019-11-08,When Jesper distinguishes himself as the Posta...,45.654,8.245
16,504253,I Want to Eat Your Pancreas,2018-09-01,After his classmate and crush is diagnosed wit...,38.057,8.245
17,851644,20th Century Girl,2022-10-06,Yeon-du asks her best friend Bora to collect a...,93.524,8.244
18,626332,Flamin' Hot,2023-03-11,"The inspiring true story of Richard Montañez, ...",70.358,8.244
19,490132,Green Book,2018-11-16,"Tony Lip, a bouncer in 1962, is hired to drive...",78.481,8.244

In [13]:
df.to_csv('movies_Page1.csv')

In [14]:
df

,id,title,release_date,overview,popularity,vote_average
0,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",146.546,8.709
1,278,The Shawshank Redemption,1994-09-23,Framed in the 1940s for the double murder of h...,127.603,8.705
2,240,The Godfather Part II,1974-12-20,In the continuing saga of the Corleone crime f...,77.946,8.590
3,424,Schindler's List,1993-12-15,The true story of how businessman Oskar Schind...,86.658,8.571
4,19404,Dilwale Dulhania Le Jayenge,1995-10-20,"Raj is a rich, carefree, happy-go-lucky second...",50.500,8.546
5,389,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,51.052,8.545
6,129,Spirited Away,2001-07-20,"A young girl, Chihiro, becomes trapped in a st...",118.006,8.540
7,496243,Parasite,2019-05-30,"All unemployed, Ki-taek's family takes peculia...",127.163,8.515
8,155,The Dark Knight,2008-07-16,Batman raises the stakes in his war on crime. ...,138.469,8.513
9,497,The Green Mile,1999-12-10,A supernatural tale set on death row in a Sout...,76.548,8.509
10,372058,Your Name.,2016-08-26,High schoolers Mitsuha and Taki are complete s...,92.874,8.505
11,680,Pulp Fiction,1994-09-10,"A burger-loving hit man, his philosophical par...",84.105,8.489
12,122,The Lord of the Rings: The Return of the King,2003-12-01,Aragorn is revealed as the heir to the ancient...,112.150,8.476
13,13,Forrest Gump,1994-06-23,A man with a low IQ has accomplished great thi...,98.160,8.476
14,429,"The Good, the Bad and the Ugly",1966-12-23,While the Civil War rages on between the Union...,70.084,8.470
15,769,GoodFellas,1990-09-12,"The true story of Henry Hill, a half-Irish, ha...",85.372,8.466
16,12477,Grave of the Fireflies,1988-04-15,"In the final months of World War II, 14-year-o...",0.600,8.456
17,637,Life Is Beautiful,1997-12-20,A touching story of an Italian book seller of ...,56.330,8.455
18,346,Seven Samurai,1954-04-26,A samurai answers a village's request for prot...,41.085,8.453
19,11216,Cinema Paradiso,1988-11-17,"A filmmaker recalls his childhood, when he fel...",45.706,8.449